<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779347879760-uljnbjffsseg2b7lgb23dvcqm6r6m40u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779347879760-uljnbjffsseg2b7lgb23dvcqm6r6m40u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>779347879760-c71rv9hbclep82s0uaflcdae00i2suic.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCf0Mtn_89M1FdkPgQ6TvLH7PRUCPgQgJU</string>
	<key>GCM_SENDER_ID</key>
	<string>779347879760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.Qapla.QaplaApp</string>
	<key>PROJECT_ID</key>
	<string>qapplaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>qapplaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779347879760:ios:aae40c52a25fd8fa20ee55</string>
	<key>DATABASE_URL</key>
	<string>https://qapplaapp.firebaseio.com</string>
</dict>
</plist>