<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614138734637-ru8iav3e6bt8bnnd45g1i1ifk2e1itc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614138734637-ru8iav3e6bt8bnnd45g1i1ifk2e1itc2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>614138734637-fdr2shoks0p7qmul6alld00881lkt4qs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDN7nMCID5RGkqB6MqQE2zr6PkWeW-zyNg</string>
	<key>GCM_SENDER_ID</key>
	<string>614138734637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.QaplaReactNative</string>
	<key>PROJECT_ID</key>
	<string>reactnativeprueba-8f6f8</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativeprueba-8f6f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614138734637:ios:ffc5b076c0887242</string>
	<key>DATABASE_URL</key>
	<string>https://reactnativeprueba-8f6f8.firebaseio.com</string>
</dict>
</plist>